@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

.pagination svg {
    width: 45px;
    height: 45px;
}

h1{
    font-size: 22px; 
    margin-top: 8px;
    margin-bottom: 8px;
}

.btn-secondary{
    color: white;
    background-color: #606060;
    border-radius:8px; 
    
    
}
.btn-info{
    color: white;
    background-color: #606060;
    border-radius:8px;
    
}
.btn-primary{
     color: white;
    background-color: #606060;
    border-radius:8px;
}
.search-container{
    display:flex; 
    gap: 10px;
    text-align: center;
}


.navbar-brand{
    background-color: #ddae20ce;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    font-family: "DynaPuff", system-ui;
}


.fa-pen{
     color: #606060; 
     float: right; 
     margin-top: 6px;
}
.fa-trash{
    color: #606060; 
    float: right; 
}
.btn-link{
    color: #606060; 
    float: right;
    
}   
.thead-dark{
    text-align: center;
}
.kit-kat{
    text-align: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    
    
}    
a.kit-kit{
    text-decoration: none;
    color: #1a0dab;
    display: block;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 4px;
    margin: 10px 0;
    text-decoration: none;
    color: #1a0dab;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: all 0.2s ease;
    position: relative;
    top: -9px;
}
.card-buttons{
    display: flex; 
    justify-content: space-between;


}
.btn-kat{
    color: white;
    background-color: #606060;
    border-radius:8px; 
    margin-top: 8px; 
    

}
